<p>A new tour has been scheduled:</p>
<p>
  <table>
    <tbody>
      <tr>
        <td>Name:</td>
        <td><%= @user.user_contact_info.first %> <%= @user.user_contact_info.last %></td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td><%= @user.user_contact_info.phone %></td>
      </tr>
      <tr>
        <td>Referrer:</td>
        <td><%= @user.user_tour_preference.referrer %></td>
      </tr>
      <tr>
        <td>Requested Tour Date:</td>
        <td><%= @user.user_tour_preference.tour_date.strftime("%m/%d/%Y") %></td>
      </tr>
      <tr>
        <td>Interests:</td>
        <td><%= @user.user_tour_preference.user_tour_preference_interests.collect(&:interest).join(", ") %></td>
      </tr>
      <tr>
        <td>Client IP:</td>
        <td><%= @user.user_tour_preference.client_ip %></td>
      </tr>
    </tbody>
  </table>
</p>
<p>Thank you,</p>
<p style="text-align: right">The <%= TourBooking::Application::PROPERTY_NAME %> Team</a>
