<%= form_for(user_tour_preference) do |f| %>
  <% if user_tour_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_tour_preference.errors.count, "error") %> prohibited this user_tour_preference from being saved:</h2>

      <ul>
      <% user_tour_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.hidden_field :client_ip, value: request.remote_ip %>

  <div class="field">
    <%= f.label :referrer %>
    <%= f.text_field :referrer %>
  </div>

  <div class="field">
    <%= f.label :tour_date %>
    <%= f.date_select :tour_date %>
  </div>

  <div class="actions">
    <%= f.submit "Book Tour" %>
  </div>
<% end %>
